In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore
import plotly.express as px
import re
import sweetviz as sv
from sklearn.preprocessing import LabelEncoder

from ydata_profiling import ProfileReport
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn import metrics

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics
from sklearn.metrics import silhouette_score
import warnings
warnings.filterwarnings("ignore")
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
df = pd.read_csv("finalresult.csv")

In [14]:
df=df.loc[:,['Product_Name','Product_Price','RAMGB','Storage_Capacity_GB','Storage_Type','kmeans']]

In [15]:
df_0 = df[df['kmeans']==0]
df_1 = df[df['kmeans']==1]
df_2 = df[df['kmeans']==2]
df_3 = df[df['kmeans']==3]

In [19]:
df_0 = df_0.drop('kmeans', axis=1)  # axis=1 indicates you are dropping a column

In [20]:
df_0

,Product_Name,Product_Price,RAMGB,Storage_Capacity_GB,Storage_Type
7,Apple MacBook Air 13 M1 Retina,2999,8,256.0,SSD
11,HP EliteBook 840 G10,4019,16,512.0,PCIe NVMe M.2 SSD
16,Apple MacBook Air 13 M1 Retina,2999,8,256.0,SSD
23,Apple MacBook Air 13 M2 Retina,4499,8,256.0,SSD
29,Acer Aspire 5,1999,8,512.0,PCIe NVMe M.2 SSD
...,...,...,...,...,...
452,HP 15s-fq5038nx,1899,8,512.0,SSD M.2
453,Dell Vostro 15 3520,2899,8,512.0,SSD M.2
454,Asus Vivobook Go 15 E1504GA-NJ255,1149,8,256.0,SSD M.2
455,MacBook Air M1 2020,2699,8,256.0,SSD
456,IdeaPad Slim 5 14Q8X9,3699,16,512.0,SSD M.2

In [21]:
df_1 = df_1.drop('kmeans', axis=1)  # axis=1 indicates you are dropping a column

In [22]:
df_2 = df_2.drop('kmeans', axis=1)  # axis=1 indicates you are dropping a column

In [23]:
df_3 = df_3.drop('kmeans', axis=1)  # axis=1 indicates you are dropping a column

In [24]:
# Assuming 'df' is your DataFrame
df_0.to_csv('df_0.csv', index=False)
# Assuming 'df' is your DataFrame
df_1.to_csv('df_1.csv', index=False)
# Assuming 'df' is your DataFrame
df_2.to_csv('df_2.csv', index=False)
# Assuming 'df' is your DataFrame
df_3.to_csv('df_3.csv', index=False)